.goog-te-gadget img{
  display:none !important;
}

body {
  top: 0px !important;
}

body > .skiptranslate {
  display: none;
}


.skiptranslate > span {
  display: none;
}

.goog-logo-link {
  display:none !important;
}

.goog-te-gadget {
  color: transparent !important;
}
